<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
        <script defer src="{{ url_for('static',filename='js/jquery.js') }}"></script>
        <script defer src="{{ url_for('static',filename='js/popper.js') }}"></script>
        <script defer src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Главная</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="profile">Личный кабинет</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logout">Выход</a>
                        </li>
                        {% endif %} {% if not current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="login">Вход</a>
                        </li>
                        {% endif %} {% if current_user.is_authenticated and current_user.role == "admin" %}
                        <li class="nav-item">
                            <a class="nav-link" href="audit">Аудит</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="accounts">Пользователи</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
